* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body > div {
  padding: 1rem;
}
.emoji {
  color: #202020;
}

.header-section {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #202020;
}
.checkout-section {
  text-align: center;
}
.checkout-section > h1 {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 4px;
}
.checkout-section > p {
  color: #757575;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

/* account information */
/* .account-information-section, */

.heading {
  font-size: 0.9rem;
}
.input-container {
  position: relative;
}
.input-field {
  width: 100%;
  padding: 0.7rem;
  padding-top: 3.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #757575;
  box-shadow: none;
  background-color: #fff;
}
.placeholder {
  position: absolute;
  top: 60%;
  left: 0px;
  transition: top 0.3s ease;
  color: #757575;
  font-family: "Roboto", "Noto", sans-serif;
}

.input-field:focus ~ .placeholder {
  top: 2rem;
  font-size: 0.9rem;
  color: #202020;
}
.input-field:not(:placeholder-shown) ~ .placeholder {
  top: 2rem;
  font-size: 0.9rem;
  color: #202020;
}
.input-field:focus {
  border-bottom: 2px solid #172c50;
}

.space {
  padding-top: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  padding-bottom: 2rem;
}
h6 {
  font-weight: 100;
}
#checkbox-note {
  margin-top: -25px;
  padding-left: 40px;
}
.country-container > .input-field {
  padding-top: 1rem;
  padding-left: 0rem;
}
.billing-address {
  padding-bottom: 2rem;
}
.payment-method-section {
  padding-top: 0;
}

.hidden {
  display: none;
}
.checkbox:checked ~ .hidden {
  display: block;
}
.checkbox {
  width: 1.2rem;
  height: 1.2rem;
}

.date-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.7rem;
}
#expiry-heading {
  padding-top: 2rem;
}

.Summary-container {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3.3rem;
  row-gap: 1.5rem;
}

.Summary-container > div:nth-child(2),
.Summary-container > div:nth-child(4) {
  justify-self: flex-end;
}
.place-order {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.3rem;
  color: #fff;
  background-color: #172c50;
}
.order-summary-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.date-input{
  padding-top: 1rem;
}
#cvv{
  background-color: none; 
}
.cvv-container {
  position: relative;
  top: -2.2rem;
  background-color: none;
}

.last{
  display: none;
  margin: auto;
}


/* desktop view  */
@media screen and (min-width: 765px) {
  .layout-container {
    max-width: 1100px;
    margin: auto;
  }
  .emoji:nth-child(1) {
    display: none;
  }
  .title-container {
    flex-grow: 2;
    font-weight: bold;
  }

  .header-section {
    padding-bottom: 5rem;
  }
  .emoji:nth-child(2) {
    justify-self: end;
  }
  .checkout-section {
    h1 {
      padding-top: 1rem;
      margin-left: -1rem;
    }
    p {
      padding-bottom: 3rem;
    }
  }
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }
  .place-order {
    width: 10rem;
    height: 4vh;
    background-color: #fff;
    color: #202020;
    position: relative;
    font-size: 0.9rem;
    top: 0;
    transition: background-color 0.3s ease;
  }
  .place-order:active {
    background-color: black;
  }
  .payment-method-section .space {
    padding: 0;
  }
  .order-summary-heading {
    padding-top: 0rem;  
  }
  .Summary-container {
    padding-bottom: 1.5rem;
  }
  .last{
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
     a{
     color: #757575;
     font-size: 0.9rem;
     }
     .demo-only-container{
      height: 35px;
      width: 120px;
      background-color: #202020;
      color: #fff;
      text-align: center;
      align-content: center;
      margin-top: 0.5rem;
     }
  }
}
